<div class="min-h-screen flex items-center justify-center bg-gray-100">

    <form action="/auth/formu-register" method="POST" class="w-full max-w-sm bg-white p-6 rounded-xl shadow-md space-y-5">


        <!-- Input Nombre -->
        <div>
            <label for="lbl-nombre" class="block text-sm font-medium text-gray-700 text-center">Nombre</label>
            <input type="text" name="nombre" id="lbl-nombre" class="w-full px-3 py-2 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-yellow-500">
        </div>

        <!-- Input Correo -->
        <div>
            <label for="lbl-correo" class="block text-sm font-medium text-gray-700 text-center">Correo</label>
            <input type="text" name="correo" id="lbl-correo" class="w-full px-3 py-2 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-yellow-500">
        </div>


        <!-- Input Password -->
         <div>
            <label for="lbl-password" class="block text-sm font-medium text-gray-700 text-center">Contraseña</label>
            <input type="text" name="password" id="lbl-password" class="w-full px-3 py-2 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-yellow-500">
        </div>

        <!-- Input Password Confirm -->
         <div>
            <label for="lbl-password_confirm" class="block text-sm font-medium text-gray-700 text-center">Confirma Contraseña</label>
            <input type="text" name="password_confirm" id="lbl-password_confirm" class="w-full px-3 py-2 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-yellow-500">
        </div>

        <!-- Botón de submit -->

        <button type="submit" class="w-full py-2 bg-yellow-600 hover:bg-yellow-700 text-white font-medium cursor-pointer rounded-lg shadow-sm transition">
            Registrar
        </button>

    </form>

</div>
